{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block main %}
{{parent()}}
 <div class="row mb-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><h3>Nueva Empresa</h3></div>
            </div>            
        </div>
    </div>

    <nav aria-label="breadcrumb mb-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item"><a href="{{ path('usuario') }}">Usuarios</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nuevo Usuario</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                            {{ form_row(form.nombre) }}
                            {{ form_row(form.Guardar) }}
                    {{ form_end(form) }}
                </div>
            </div>            
        </div>
    </div>
{% endblock %}
