{% extends 'base.html.twig' %}
{% block title %}Nueva Empresa{% endblock %}

{% block main %}
{{ parent() }}
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><h3>Nueva Empresa</h3></div>
            </div>            
        </div>
    </div>

    <nav aria-label="breadcrumb mb-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item"><a href="{{ path('empresa') }}">Empresas</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nuevo registro</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                       
                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            <b>{{ form_errors(form) }}</b>
                        </div>
                    {% endif %}
                    {{ form_row(form.nombre) }}
                    {{ form_row(form.telefono) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.sector) }}
                        <div class="row">
                            {{ form_row(form.Guardar) }} &nbsp; {{ form_row(form.Cancelar) }}                            
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>            
        </div>
    </div>
                    
{{ encore_entry_script_tags('empresajs') }}
{% endblock %}