<!DOCTYPE html>
<html>
    <head class="h-100">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {% block stylesheet %} 
            {{encore_entry_link_tags('app')}} 
        {% endblock %}
        
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
               
    </head>
    <body>
        {% block header %}
          <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">                
                {% if app.user %} 
                    <i class="fa fa-user-circle"></i> Bienvenido {{ app.user.nombre }}                     
                {% else %}
                Symfony Demo
                {% endif %}
            </a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            {% if app.user %}
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                  <a class="nav-link" href="{{ path('app_logout') }}">Desconectarme <i class="fa fa-sign-out-alt"></i> </a>
              </li>
            </ul>
            {% endif %}
          </nav>
            
        {% endblock %} 
    
    
    <div class="container-fluid">
        <div class="row">            
            {% block sidebar %}
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">                                       
                    <ul class="nav flex-column">
                                           
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span><i class="fa fa-bars"></i> MENU PRINCIPAL</span>
                            <hr>
                        </h6>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('dashboard') }}">
                              <i class="fa fa-home"></i> Inicio
                          </a>
                        </li>
                        <li class="nav-item">
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="nav-link" href="{{ path('empresa') }}">
                                <i class="fa fa-industry"></i> Empresas
                            </a>
                            {% endif %}
                            {% if is_granted('ROLE_CLIENTE') %}
                            <a class="nav-link" href="{{ path('empresa_cliente') }}">
                                <i class="fa fa-industry"></i> Empresas Asociadas
                            </a>
                            {% endif %}
                        </li>
                       
                        <li class="nav-item">
                            {% if is_granted('ROLE_ADMIN') %}
                            <a class="nav-link" href="{{ path('sector') }}">
                              <i class="fa fa-layer-group"></i> Sectores
                            </a>
                            {% endif %}
                            {% if is_granted('ROLE_CLIENTE') %}
                            <a class="nav-link" href="{{ path('cliente_sector') }}">
                              <i class="fa fa-layer-group"></i> Sectores Asociados
                            </a>
                            {% endif %}
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}                        
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span><i class="fa fa-cogs"></i> ADMINISTRACION</span>
                            <hr>
                        </h6>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('usuario') }}"><i class="fa fa-users"></i> Usuarios</a>
                        </li>
                        {% endif %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span><i class="fa fa-asterisk"></i> EXTRAS</span>
                            <hr>
                        </h6>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('moneda') }}"><i class="fa fa-euro-sign"></i> APIREST Monedas</a>
                        </li>
                    </ul>                                                      
                    </ul>
                </div>
            </nav>
            {% endblock %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-2">
                {% block main %} {% endblock %} 
            </main>            
        </div>
            {% block main_index %} {% endblock %}
    </div>
    {% block footer %}  
         {# <footer class="footer mt-auto py-3">            
            <div class="container">
              <span class="text-muted">Place sticky footer content here.</span>
            </div>            
          </footer>#}
    {% endblock %}
    </body>
    {% block javascript_functions %}{% endblock %}
</html>
