{% extends 'base.html.twig' %}
{% block title %}Empresa{% endblock %}

{% block main %}
{{ parent() }}

<div class="row-fluid">
    <div class="col-sm-12 mb-3">
        <div class="card">
            <div class="card-header"><h2><i class="fa fa-list"></i> Lista de Sectores</h2></div>
        </div>
    </div>
    <div class="col-sm-12">
        <nav aria-label="breadcrumb mb-2">
           <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active">Sectores</li>
           </ol>
       </nav>
    </div>
    <div class="col-sm-12 mb-3">
        <a href="{{ path('new_sector') }}" class="btn btn-info"><i class="fa fa-plus-circle"></i> Nuevo registro</a>
        
        <a href="{{ path('asociar') }}" class="btn btn-info"><i class="fa fa-user-plus"></i> Asociar Cliente</a>
    </div>
    
    <div class="col-sm-12">
         {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <b><i class="far fa-check-circle"></i> {{ message }}</b>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                <b><i class="fa fa-exclamation-circle"></i> {{ message }}</b>
            </div>
        {% endfor %}
    </div>
    
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>NOMBRE</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for sector in sectores %}
                <tr>
                    <td>{{ sector.id }}</td>
                    <td>{{ sector.nombre }}</td>
                    <td class="text-center">
                        <a class="text-success" href="{{ path('edit_sector',{id:sector.id}) }}"><i class="fa fa-edit"></i></a>
                        <a class="text-danger deleteLink" data-url="{{ path('delete_sector',{id:sector.id}) }}" data-nombre-sector="{{ sector.nombre }}"  href="javascript:void(0)"><i class="fa fa-times-circle"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{ encore_entry_link_tags('confirmcss') }}
{{ encore_entry_script_tags('sectorjs') }}
{% endblock %}


